html,body {
	height: 100%;
	background-color: #f2f4f6;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.footer_container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer{
	height: 100px;         
	margin: auto;          
	color: #333;
	text-shadow: -1px 1px 0 rgba(255, 255, 255, 1);
}


@media screen and (min-width: 390px) {
    .footer_container {
    	height: 560px;
    }
	.footer {
		width: 275px;
		font-size: 6em;
	}
	.content {
		width: 390px;
	}
}

@media screen and (min-width: 700px) {
	.footer_container {
		height: 280px;
	}
	.footer{
		width: 550px;
		font-size: 12em;
	}
	.content {
		width: 700px;
	}
}


.dejico {
	border: none;
}